[Desktop Entry]
Exec=kcmshell5 boingusdecorationconfig
Icon=preferences-system-windows
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=org.kde.kdecoration2/boingusdecoration
X-KDE-PluginKeyword=kcmodule
X-KDE-ParentApp=kcontrol
X-KDE-Weight=60

Name=Boingus Window Decoration
Name[az]=Boingus Pəncərə Tərtibatı
Name[ca]=Decoració de les finestres Brisa
Name[ca@valencia]=Decoració de les finestres Brisa
Name[cs]=Dekorace oken Boingus
Name[da]=Boingus vinduesdekoration
Name[de]=Boingus-Fensterdekoration
Name[el]=Διακοσμήσεις παραθύρου Boingus
Name[en_GB]=Boingus Window Decoration
Name[es]=Decoración de ventanas Brisa
Name[et]=Boingus akna dekoratsioon
Name[eu]=Boingus leihoen apaindura
Name[fi]=Boingus-ikkunankehys
Name[fr]=Décoration de fenêtre Brise
Name[gl]=Decoración de xanela de Boingus
Name[hi]=ब्रीज़ विंडो सजावट
Name[hu]=Boingus ablakdekoráció
Name[ia]=Decoration de fenestra Boingus
Name[id]=Dekorasi Window Boingus
Name[it]=Decorazione delle finestre di Brezza
Name[ja]=Boingus ウィンドウ装飾
Name[ko]=Boingus 창 장식
Name[lt]=Boingus langų dekoracija
Name[nl]=Boingus vensterdecoratie
Name[nn]=Boingus-vindaugsdekorasjon
Name[pa]=ਬਰੀਜ਼ ਵਿੰਡੋ ਸਜਾਵਟ
Name[pl]=Wygląd okien Bryzy
Name[pt]=Decoração de Janelas Brisa
Name[pt_BR]=Decorações da janela Boingus
Name[ro]=Decorații pentru ferestre Briză
Name[ru]=Оформление окон Boingus
Name[sk]=Dekorácie okien Boingus
Name[sl]=Okraski oken Sapica
Name[sr]=Поветарчева декорација прозора
Name[sr@ijekavian]=Поветарчева декорација прозора
Name[sr@ijekavianlatin]=Povetarčeva dekoracija prozora
Name[sr@latin]=Povetarčeva dekoracija prozora
Name[sv]=Boingus fönsterdekoration
Name[tg]=Ороиши равзанаи Насим
Name[tr]=Boingus Pencere Dekorasyonu
Name[uk]=Декорації вікон Boingus
Name[x-test]=xxBoingus Window Decorationxx
Name[zh_CN]=Boingus 微风窗口装饰
Name[zh_TW]=Boingus 視窗裝飾
Comment=Modify the appearance of window decorations
Comment[ar]=عدّل مظهر زخرفات النّوافذ
Comment[az]=Pəncərə tərtibatının görünüşünü dəyişdirin
Comment[ca]=Modifica l'aparença de les decoracions de les finestres
Comment[ca@valencia]=Modifica l'aparença de les decoracions de les finestres
Comment[cs]=Změnit vzhled dekorace oken
Comment[da]=Ændr vinduesdekorationers udseende
Comment[de]=Das Erscheinungsbild der Fensterdekorationen ändern
Comment[el]=Τροποποίηση εμφάνισης της διακόσμησης παραθύρου
Comment[en_GB]=Modify the appearance of window decorations
Comment[es]=Modificar el aspecto de las decoraciones de las ventanas
Comment[et]=Akna dekoratsioonide välimuse muutmine
Comment[eu]=Aldatu leiho apainduren itxura
Comment[fi]=Muuta ikkunoiden kehysten ulkoasua
Comment[fr]=Modifier l'apparence des décorations des fenêtres
Comment[gl]=Modifica a aparencia da decoración da xanela
Comment[he]=התאם את מראה מסגרות החלונות
Comment[hi]=विंडो सजावटों की दिखावट को परिवर्तित करें
Comment[hu]=Az ablakdekorációk megjelenésének módosítása
Comment[ia]=Modifica le apparentia de decorationes de fenestra
Comment[id]=Memodifikasi penampilan dekorasi window
Comment[it]=Modifica l'aspetto delle decorazioni delle finestre
Comment[ja]=ウィンドウ装飾の外観を編集
Comment[ko]=창 장식의 모습을 수정합니다
Comment[lt]=Keisti lango dekoracijų išvaizdą
Comment[nb]=Endre utseende for vindusdekorasjoner
Comment[nl]=Wijzig het uiterlijk van vensterdecoraties
Comment[nn]=Endra utsjånad på vindaugspynt
Comment[pa]=ਵਿੰਡੋ ਸਜਾਵਟ ਦੀ ਦਿੱਖ ਨੂੰ ਸੋਧੋ
Comment[pl]=Zmień wygląd i wystrój okien
Comment[pt]=Modificar a aparência das decorações das janelas
Comment[pt_BR]=Modifica a aparência das decorações da janela
Comment[ro]=Modifică aspectul decorațiilor pentru ferestre
Comment[ru]=Настройка заголовков окон в стиле Boingus
Comment[sk]=Zmena vzhľadu dekorácie okien
Comment[sl]=Spremenite videz okraskov oken
Comment[sr]=Измените изглед декорација прозора
Comment[sr@ijekavian]=Измијените изглед декорација прозора
Comment[sr@ijekavianlatin]=Izmijenite izgled dekoracija prozora
Comment[sr@latin]=Izmenite izgled dekoracija prozora
Comment[sv]=Ändra utseendet hos fönsterdekorationer
Comment[tg]=Тағйир додани ороиши намуди зоҳирии равзанаҳо
Comment[tr]=Pencere dekorasyonlarının görünümünü değiştir
Comment[uk]=Зміна вигляду декорацій вікон
Comment[x-test]=xxModify the appearance of window decorationsxx
Comment[zh_CN]=修改窗口装饰外观
Comment[zh_TW]=變更視窗裝飾外觀
X-KDE-Keywords=boingus,decoration
X-KDE-Keywords[ar]=نسيم,زخرفة
X-KDE-Keywords[az]=boingus,dekorasiya
X-KDE-Keywords[ca]=boingus,brisa,decoració
X-KDE-Keywords[ca@valencia]=boingus,brisa,decoració
X-KDE-Keywords[cs]=boingus,dekorace
X-KDE-Keywords[da]=boingus,dekoration
X-KDE-Keywords[de]=Boingus-Dekoration
X-KDE-Keywords[el]=boingus,διακόσμηση
X-KDE-Keywords[en_GB]=boingus,decoration
X-KDE-Keywords[es]=boingus,brisa,decoración
X-KDE-Keywords[et]=boingus,dekoratsioon
X-KDE-Keywords[eu]=boingus,apainketa,apaindura
X-KDE-Keywords[fi]=boingus,decoration,kehys,koriste,koristus,ikkunakehys
X-KDE-Keywords[fr]=brise,décoration
X-KDE-Keywords[gl]=boingus,decoración
X-KDE-Keywords[he]=boingus,decoration,מסגרת
X-KDE-Keywords[hi]=ब्रीज़, सजावट
X-KDE-Keywords[hu]=boingus,dekoráció
X-KDE-Keywords[ia]=boingus,decoration
X-KDE-Keywords[id]=boingus,dekorasi
X-KDE-Keywords[it]=brezza,decorazione
X-KDE-Keywords[ja]=boingus,decoration
X-KDE-Keywords[ko]=boingus,decoration,장식
X-KDE-Keywords[lt]=boingus,dekoracija
X-KDE-Keywords[nb]=beeze,dekorasjon
X-KDE-Keywords[nl]=boingus,decoratie
X-KDE-Keywords[nn]=boingus,dekorasjonar,pynt
X-KDE-Keywords[pa]=ਬਰੀਜ਼,ਸਜਾਵਟ
X-KDE-Keywords[pl]=boingus,dekoracja,bryza,wystrój
X-KDE-Keywords[pt]=brisa,decoração
X-KDE-Keywords[pt_BR]=boingus,decoração
X-KDE-Keywords[ro]=briză,boingus,decorare,decorație
X-KDE-Keywords[ru]=boingus,бриз,decoration,декорации окон,оформление окон
X-KDE-Keywords[sk]=vánok,dekorácia
X-KDE-Keywords[sl]=sapica,okraski
X-KDE-Keywords[sr]=boingus,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavian]=boingus,decoration,Поветарац,декорација
X-KDE-Keywords[sr@ijekavianlatin]=boingus,decoration,Povetarac,dekoracija
X-KDE-Keywords[sr@latin]=boingus,decoration,Povetarac,dekoracija
X-KDE-Keywords[sv]=boingus,dekoration
X-KDE-Keywords[tg]=насим,ороиш
X-KDE-Keywords[tr]=esinti,dekorasyon
X-KDE-Keywords[uk]=boingus,decoration,бриз,декорації,декорація,обрамлення
X-KDE-Keywords[x-test]=xxboingusxx,xxdecorationxx
X-KDE-Keywords[zh_CN]=boingus,微风,装饰,修饰
X-KDE-Keywords[zh_TW]=boingus,decoration
